//
//
//

// Size and position
$cellWidth: 160px;
$cellRightMargin: 10px;
$transition: 300ms ease-in-out;

html { height: 100%; }
body { height: 100%; }
.datacomb {

  // imports
  @import 'range-slider';

  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    &:hover {
      color: #999;
    }
  }

  .dc-header {
    order: 0;
    flex: 0 1 80px;
    align-self: stretch;
    position: relative;
    transition: all $transition;
    &[filtering] {
      flex: 0 1 120px;
      h4 {
        top: -55px;
        position: absolute;
      }
    }
  }
  .dc-table {
    padding: 0 20px;
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
  }

  //
  .dc-row {
    height: 4px;
    &[dc-expand] {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      padding-top: 1px;
      height: 18px;
    }
    &[dc-hover] {
      font-weight: 700;
      color: #01F;
      .dc-bar {
        background: #01F !important;
      }
    }
  }
  .dc-disccell, .dc-datacell, .dc-rlabel {
    display: inline-block;
    width: $cellWidth;
    margin-left: $cellRightMargin;
    vertical-align: top;
  }
}

// Column headers
.dc-col-headers, .dc-col-filters {
  position: absolute;
  padding: 2px 20px;
  > li {
    display: inline-block;
    width: $cellWidth;
    margin-right: $cellRightMargin;
    font-weight: bold;
  }
  h4 { padding-left: 4px; }
  svg {
    .axis-hover-line {
      stroke: rgba(30, 79, 255, 0.6);
      stroke-width: 2px;
    }
  }
  .disc-value {
    font-weight: 400;
    padding-left: 4px;
    padding-top: 9px;
  }
}
.dc-col-headers {
  bottom: 0;
}
.dc-col-filters {
  bottom: 40px;
  ul.toggle-list {
    position: absolute;
    top: 0;
    height: 200px;
    width: $cellWidth;
    font-weight: 400;
    padding: 0 10px;
    background: #EEE;
    overflow-y: scroll;
    z-index: 100;
    li {
      padding: 2px 0;
    }
  }
  .filter-text {
    input {
      width: 50px;
      display: inline-block;
    }
  }
}

// Row labels
.dc-rlabel {
  font-weight: 700;
  .dc-label { display: none; }
}
.dc-row[dc-expand] .dc-rlabel {
  .dc-label { display: block; }
}

// Continuous columns (bars)
.dc-datacell {
  .dc-cont-val { display: none; }
  .dc-bar {
    height: 3px;
    background: #666;
    border-left: 1px solid #333;
  }
}
.dc-row[dc-expand] .dc-datacell {
  .dc-cont-val { display: block; }
  .dc-bar {
    background: red;
  }
}

// Discrete columns (colors)
.dc-disccell {
  .dc-disc-val { display: none; }
}
.dc-row[dc-expand] .dc-disccell {
  .dc-disc-val { display: block; }
}

// Axis
.dc-ch-axis {
  overflow: visible;
  // margin-bottom: -24px;
  margin-left: 3px;

  line, path {
    fill: none;
    stroke: black;
  }
  text {
    font-weight: normal;
    font-size: 12px;
  }
}
