//
//
//

@import 'data-colors';

// Size and position
$cellWidth: 160px;
$cellRightMargin: 10px;
$transition: 300ms ease-in-out;

//
$lightBlue: #5BA7EF;
$darkBlue: #1166B7;

html { height: 100%; }
body { height: 100%; }

button {
  font-family: 'Inconsolata', sans-serif;
}
input[type=checkbox] {
  margin: 0 4px;
}

.datacomb { height: 100%; }
.dc-container {

  // load imports to nest under .dc-container
  @import 'range-slider';

  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  // disable selecting/highlighting (makes mouse actions more robust)
  * { user-select: none; }
  // TODO: remove this, have autoprefixer be part of build process...
  * {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
  }

  .dc-btn {
    padding: 2px 8px;
    margin: 4px 0;
    border-radius: 0;
    background-color: $darkBlue;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    transition: background-color 100ms ease-in-out;
    &:hover {
      background-color: $lightBlue;
    }
    &[opened], &.dc-warn {
      background-color: #C38C10;
    }
  }

  // layout structure, three flex el's:
  //   top controls: grow based on content
  //   col-headers:  grow based on content
  //   table:        fill remaining height
  .dc-top-controls {
    flex: 0 1 auto;
    order: 0;
    align-self: stretch;
  }
  .dc-col-headers {
    flex: 0 1 auto;
    order: 0;
    align-self: stretch;
  }
  .dc-table {
    padding: 0 20px;
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
  }

  // top controls
  .dc-top-controls {
    padding-left: 8px;
    border-bottom: 1px solid #999;

    label {
      font-weight: 700;
    }
  }

  // column headers
  .dc-col-headers {
    padding-left: 24px;
    > li {
      display: inline-block;
      width: $cellWidth;
      margin-right: $cellRightMargin;
      font-weight: bold;
      padding-top: 4px;
    }
    h4 { padding-left: 4px; }
    .disc-value {
      font-weight: 400;
      padding-left: 4px;
      padding-top: 9px;
    }
    .col-action {
      border: none;
      outline: none;
      background: none;
      padding: 2px;
      cursor: pointer;
      &:hover {
        color: $darkBlue;
      }
    }
    svg {
      .axis-hover-line {
        stroke: rgba(30, 79, 255, 0.6);
        stroke-width: 2px;
      }
    }

    // filters
    .dc-filter {
      .filter-text {
        input[type=text] {
          width: 40px;
        }
      }
    }

    // summary stats
    .stat-list {
      text-align: right;
      padding-right: 20px;
      font-weight: 400;
      b { font-weight: 700; }
    }

    // histograms
    .dc-histogram {
      [hidden] { opacity: 0; }
      rect {
        fill: #B9D3EC;
        stroke-width: 1px;
        stroke: #FFF;
        &:hover { fill: $lightBlue; }
      }
    }

    // common scroll list for filters + stats
    ul.scroll-list {
      max-height: 100px;
      overflow: scroll;
      li {
        padding-bottom: 1px;
      }
    }
  }

  // table elements
  .dc-row {
    height: 4px;

    // all cells
    .dc-cell {
      display: inline-block;
      width: $cellWidth;
      margin-left: $cellRightMargin;
      vertical-align: top;

      // row labels
      &[coltype=label] {
        font-weight: 700;
        .dc-label { display: none; }
      }

      // continuous columns (bars)
      &[coltype=cont] {
        .dc-cont-val { display: none; }
        .dc-bar {
          height: 3px;
          background: #666;
          border-left: 1px solid #333;
        }
      }

      // discrete columns (nothing or text)
      &[coltype=disc] {
        .dc-disc-val { display: none; }
      }
    }

    &[dc-expand] {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      padding-top: 1px;
      height: 18px;


      [coltype=label] {
        .dc-label { display: block; }
      }
      [coltype=cont] {
        .dc-cont-val { display: block; }
        .dc-bar {
          background: $lightBlue;
        }
      }
      [coltype=disc] {
        .dc-disc-val { display: block; }
      }
    }
    &[dc-hover] {
      font-weight: 700;
      color: $darkBlue;
      .dc-bar {
        background: $darkBlue !important;
      }
    }
  }

  // common svg styling
  svg {
    overflow: visible;

    line, path {
      fill: none;
      stroke: black;
    }
    text {
      font-weight: normal;
      font-size: 12px;
    }
  }

}
