//
//
//

// Size and position
html { height: 100%; }
body { height: 100%; }
.datacomb {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  .dc-header {
    order: 0;
    flex: 0 1 80px;
    align-self: stretch;
  }
  .dc-table {
    padding: 0 20px;
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
  }

  //
  .dc-row {
    height: 4px;
  }
  .dc-disccell, .dc-datacell, .dc-rlabel {
    display: inline-block;
    width: 160px;
  }
}

// Row labels
.dc-rlabel {
  .dc-label { display: none; }
}
.dc-row:hover .dc-rlabel {
  .dc-label { display: block; }
}

// Continuous columns (bars)
.dc-datacell {
  .dc-cont-val { display: none; }
  .dc-bar {
    height: 3px;
    background: blue;
  }
}
.dc-row:hover .dc-datacell {
  .dc-cont-val { display: block; }
  .dc-bar {
    background: red;
  }
}

// Discrete columns (colors)
.dc-disccell {
  .dc-disc-val { display: none; }
}
.dc-row:hover .dc-disccell {
  .dc-disc-val { display: block; }
}
