//
//
// Global styling to be included on every page

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inconsolata', sans-serif;
  font-size: 13px;
  color: #333;
}

// Default element styles
ul {
  list-style: none;
}
li { }
