
# npm stuff
node_modules/
*npm-debug.log*
.npmrc

# nvm stuff
.nvmrc

# built files ( run build command...)
build/
dist/

# sass cache
*.sass-cache*

# VIM is awesome
*.swo
*.swp

# Rstats
.Rproj.user
