<div class='dc-col-header' {{#if isDiscrete}}discrete{{/if}}>
  <h4>
    {{label}}
    <button on-click='sort-by-col:{{index}},false'>▲</button>
    <button on-click='sort-by-col:{{index}},true'>▼</button>
  </h4>
  <svg class='dc-ch-axis' height='20' width='{{width}}'>
  </svg>
</div>
