<div class='dc-header'>
  <ul class='dc-col-headers'>
          <li><ColHeader label="Row Label" /></li>
    {{#cols:colNdx}}
      <li><ColHeader
        label={{ label }}
        index={{ colNdx }} /></li>
    {{/cols}}
  </ul>
</div>
<div class='dc-table'></div>
